<html>
<head>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/custom.css"/>
  <!-- <link type="text/css" rel="stylesheet" href="css/TD/marmiton.css"/> -->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8"/>
  <!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<!-- Cake JS -->
<script type="text/javascript" src="js/TD/cake.js"></script>
</head>

<body>
  <header>
    <script>
      $("header").load("header.html");
    </script>
  </header>

  <!-- Main -->
  <main>

    <div class="container">
      <h2 class="header"><i class="mdi-social-cake"></i>Cake</h2>
      <div ng-app>
        <div ng-init="initExample" ng-controller="controller">
        <table>
         <caption>J'ai {{articles.length}} articles à acheter</caption>
         <table class="hoverable bordered">
           <tr>
             <th>Article</th>
             <th>Quantité</th>
             <th>Prix/u</th>
             <th>Prix</th>
           </tr>
           <tr ng-repeat="article in articles">
             <td>{{article.name}}</td>
             <td>{{article.quantity +" "+article.unit}}</td>
             <td>{{article.price | currency:"€ "}}</td>
             <td>
               <span ng-if="article.unit == 'g' ">{{article.quantity/1000*article.price | currency:"€ "}}</span>
               <span ng-if="article.unit == 'cl' ">{{article.quantity/100*article.price | currency:"€ "}}</span>
               <span ng-if="article.unit == 'u' ">{{article.quantity*article.price | currency:"€ "}}</span>
             </td>
           </tr>
         </table>
       </table>
     </div>
   </div>
 </div>

</main>

<!-- Footer -->
<footer class="page-footer">
  <div class="footer-copyright">
  </div>
</footer>


</body>
</html>