<script>
   $( document ).ready(function() {
         $(".button-collapse").sideNav();
         $(".dropdown-button").dropdown({ hover: false });
    });
</script>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="cart.html">Fruits</a></li>
    <li><a href="classic_cart.html">Classic</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="jQuery101.html">101</a></li>
    <li><a href="tocjQuery.html">Sommaire</a></li>
    <li><a href="troll.html">Annoying Popup</a></li>
  </ul>
  <ul id="dropdown3" class="dropdown-content">
    <li><a href="marmiton.html">Recette de Crêpes</a></li>
    <li><a href="cake.html">Cake</a></li>
  </ul>
  <ul id="dropdown4" class="dropdown-content">
    <li><a href="calculator.html">Calculatrice</a></li>
    <li><a href="toc.html">Sommaire</a></li>
    <li><a href="hellow.html">Introduction</a></li>
    <li><a href="controls.html">Contrôles</a></li>
  </ul>
  <!--Navbar-->
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="brand-logo right">Cedric Bonhomme</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="index.html">Gentleman+</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Js<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a href="xml.html">XML</a></li>
          <li><a href="json.html">JSON</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Panier<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a href="ajax.html">AJAX</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">jQuery<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown3">AngularJS<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="index.html">Gentleman+</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Js<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a href="xml.html">XML</a></li>
          <li><a href="json.html">JSON</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Panier<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a href="ajax.html">AJAX</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">jQuery<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown3">AngularJS<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>