<html>
<head>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/custom.css"/>
  <!-- <link type="text/css" rel="stylesheet" href="css/TD/marmiton.css"/> -->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8"/>
  <!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<!-- Hello World JS -->
<script type="text/javascript" src="js/TD/marmiton.js"></script>
</head>

<body>
  <header>
    <script>
      $("header").load("header.html");
    </script>
  </header>

  <!-- Main -->
  <main>

    <div class="container">
      <h2 class="header"><i class="mdi-social-cake"></i>Recette de crêpes</h2>
      <div ng-app>
        <div ng-init="articles = [{name:'Farine', price:0.58, quantity:375, unit:'g'},
        {name:'Sucre', price:1.20, quantity:50, unit:'g'},
        {name:'Oeufs', price:0.15, quantity:4, unit:'u'},
        {name:'Lait', price:0.79, quantity:50, unit:'cl'},
        {name:'Beurre', price:7.9, quantity:20, unit:'g'}]">
        <table>
         <caption>J'ai {{articles.length}} articles à acheter</caption>
         <table class="hoverable bordered">
           <tr>
             <th>Article</th>
             <th>Quantité</th>
             <th>Prix/u</th>
             <th>Prix</th>
           </tr>
           <tr ng-repeat="article in articles">
             <td>{{article.name}}</td>
             <td>{{article.quantity +" "+article.unit}}</td>
             <td>{{article.price | currency:"€ "}}</td>
             <td>
               <span ng-if="article.unit == 'g' ">{{article.quantity/1000*article.price | currency:"€ "}}</span>
               <span ng-if="article.unit == 'cl' ">{{article.quantity/100*article.price | currency:"€ "}}</span>
               <span ng-if="article.unit == 'u' ">{{article.quantity*article.price | currency:"€ "}}</span>
             </td>
           </tr>
         </table>
       </table>
     </div>
   </div>
 </div>

</main>

<!-- Footer -->
<footer class="page-footer">
  <div class="footer-copyright">
  </div>
</footer>


</body>
</html>